<html>
    <head>
        <style>
            h3{
                color : blue;
                text-align: center;
            }

            div
            {
                border: 2px solid blue;
                margin: 10px;
                padding : 15px;
                border-left-width : 20px;
                width :  250px;
                border-radius: 10px;

            }

        </style>
    </head>
    <body>
        <h3>Developing MVC Based Web Application using Express JS</h3>
        <hr/>

        <h2>Selected Department Details </h2>
        <div>
            Dept Number :  <%=deptObj.deptno%>  <br/>
            Dept Name :  <%=deptObj.dname%>  <br/>
            Dept Location :  <%=deptObj.loc%>  <br/>
        </div> 
    </body>
</html>